<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" style="margin: 0px;">
      <div class="logo-container">
        <b> NT </b>
      </div>
    </a>
  </div>
</nav>
